@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<html>
<head>
    <title>This is a test page</title>
</head>
<body>
    <h1>@CurrentPage.Title</h1>
    @CurrentPage.Content
</body>
</html>