@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<html>
<head>
    <title>This is a test page</title>
</head>
<body>
    <h1>@CurrentPage.Title</h1>
    <p>some content</p>
    @CurrentPage.Content 
    <iframe width="398" height="224" src="https://www.iheart.com/widget/?showId=20566498" frameborder="0"></iframe>
    <p>Individual eppisode</p>
    <iframe width="398" height="224" src="https://www.iheart.com/widget/?showId=20566498&episodeId=26987477" frameborder="0"></iframe>
</body>
</html>